/* destop footer css start  */
.footer-area {
  background: #fbf4f4;
  padding: 20px 0;
  border-top: 1px solid #b6b4b6;
}

.footer-logo a {
  display: inline-block;
  width: 170px;
}

.footer-social-list ul {
  list-style: none;
}

.footer-social-list ul li {
  margin-bottom: 15px;
  display: inline-block;
}

.footer-social-list ul li:last-child {
  margin-bottom: 0;
}

.footer-social-list a {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 500;
}

.footer-social-list ul li:nth-child(1) a {
  background: #3b5998;
}

.footer-social-list ul li:nth-child(2) a {
  background: #1da1f2;
}

.footer-social-list ul li:nth-child(3) a {
  background: #c32aa3;
}

.footer-social-list ul li:nth-child(4) a {
  background: #ff0000;
}

/* destop footer css end  */
